<div class="landing">

  <div class="background">
    <div class="text-center">
      <h1>Book professional photographer for your personal events</h1>

      <%= form_tag(packages_path, method: "get", id: "search-form") do %>
      <%= search_field_tag :search, params[:search], placeholder: "Search for packages", class: 'search-bar' %>
      <label for="search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></label>
      <% end %>

    </div>
  </div>

  <div class="services">

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> Wedding </p>
    </div>

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> studio </p>
    </div>

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> baby </p>
    </div>

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> product </p>
    </div>

  </div>

  <div class="how-it-works">
    <section class="features-container">
      <h2 class="feature-title text-center">How it works?</h2>

      <section class="features">

        <div class="feature text-center">
          <%= fa_icon 'gift 2x', color: 'dark grey'%>
          <h3>Choose a package</h3>
          <p class="text-muted"> Pick from 1000’s of Packages shoot by professional photographer for wedding, baby shoots, Children party, Product etc. </p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'comments-o 2x', color: 'dark grey'%>
          <h3> Chat with a photographer </h3>
          <p class="text-muted">Connect with service providers; Chat live to confirm, availability, services, details, request custom packages and more.</p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'shield 2x', color: 'dark grey'%>
          <h3> Get Payment Protection </h3>
          <p class="text-muted">Pay 30% to confirm your booking on select packages. Your advance is paid to the provider only after the service is complete.</p>
        </div>
      </section>
    </section>
  </div>

  <div class="app">
    <div class="app-feature text-center">
      <%= image_tag "app.gif", alt: "rss feed", class: "app_img", style: "height: 346px; width: 280px" %>
    </div>
    <div class="app-feature text-center">
      <h2>Our app is now available on play store </h2>
      <p class="text-muted"> Pick from 1000’s of Packages shoot by professional photographer for wedding, baby shoots, Children party, Product etc. </p>
    </div>
  </div>

  <div class="client">
    I'm empty
  </div>

  <div class="sitemap">
    I'm too.
  </div>


</div>
