<div class="landing">

  <div class="background">
    <div class="text-center">
      <h1>Book professional photographer for your personal events</h1>
    </div>
  </div>

  <div class="container">
      <%= form_tag(packages_path, method: "get", id: "search-form") do %>
        <%= search_field_tag :search, params[:search], placeholder: "Search for packages" %>
        <label for="search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></label>
      <% end %>
    </div>

  <div class="service">
    <section class="features-container">
      <section class="features">
        <div class="feature text-center">
          <%= fa_icon 'gift 2x', color: 'dark grey'%>
          <p class="text-muted"> Wedding </p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'gift 2x', color: 'dark grey'%>
          <p class="text-muted"> studio </p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'gift 2x', color: 'dark grey'%>
          <p class="text-muted"> baby </p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'gift 2x', color: 'dark grey'%>
          <p class="text-muted"> product </p>
        </div>
      </section>
    </section>
  </div>

  <div class="how">
    <section class="features-container">
      <h2 class="feature-title text-center">How it work</h2>
      <hr class="primary">
      <section class="features">
        <div class="feature text-center">
          <%= fa_icon 'gift 2x', color: 'dark grey'%>
          <h3>Choose a package</h3>
          <p class="text-muted"> Pick from 1000’s of Packages shoot by professional photographer for wedding, baby shoots, Children party, Product etc. </p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'comments-o 2x', color: 'dark grey'%>
          <h3> Chat with a photographer </h3>
          <p class="text-muted">Connect with service providers; Chat live to confirm, availability, services, details, request custom packages and more.</p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'shield 2x', color: 'dark grey'%>
          <h3> Get Payment Protection </h3>
          <p class="text-muted">Pay 30% to confirm your booking on select packages. Your advance is paid to the provider only after the service is complete.</p>
        </div>
      </section>
    </section>
  </div>

  <div class="app">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "app.gif", alt: "rss feed", class: "app_img", style: "height: 346px; width: 280px" %>
      </div>
      <div class="col-md-8">
        <h2>Our app is now available on play store </h2>
        <p class="text-muted"> Pick from 1000’s of Packages shoot by professional photographer for wedding, baby shoots, Children party, Product etc. </p>
      </div>
    </div>
  </div>

  <div class="client">
    I'm empty
  </div>

  <div class="sitemap">
    I'm too.
  </div>

<!-- <div class="container">
<div class="row">
<div class="col-md-4">
<h2>Heading</h2>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
<div class="col-md-4">
<h2>Heading</h2>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
<div class="col-md-4">
<h2>Heading</h2>
<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
</div> -->

</div>
