<nav class="navbar navbar-default">

  <div class="container-fluid">


      <div class="navbar-header">
        <%= link_to "Workspacity", root_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="header-dropdown">
        <ul class="nav navbar-nav navbar-right">
          <li > <span id="welcome-user"> Welcome <strong><%= current_user.username %></strong>!</span> </li>
          <li id="About"><%= link_to "About", about_path %></li>
          <% if current_user %>
            <li> <%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            <li id="New_service"><%= link_to "List your service", new_package_path %></li>
          <% else %>
            <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
            <li id="New_user"><%= link_to "Login", new_session_path %></li>
            <li id="New_user"><%= link_to "Register", new_user_path %></li>
          <% end %>
        </ul>
      </div>
  </div>
</nav>
