<%= form_for(comment, url: package_reviews_path(package, review), remote: true, html: { id: "review-update-form" }) do |f| %>
  <h2 class="text-center">
    Edit Review
  </h2>

  <div class="form-group">
    <h4 class="text-center"> Post Image </h4>
    <div id="preview-image">
      <% if review image? %>
        <%= image_tag review..image, class: "img-settings img-responsive center-block" %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.file_field :image, id: "review_image_field", class: 'form-control image-uploader' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :text_field, "Body" %> </h4>
    <%= f.text_field :body, id: "review_body_field", class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <%= f.submit "Update Review", class: "btn btn-success btn-lg" %>
    <div class="btn btn-danger btn-lg backbtn">
      Back
    </div>
  </div>
  <% end %>
